<h1>Add new</h1>

<form action="/add" method="POST">
<div class="row">
        <div class="input-field">
          <input id="title" name="title" type="text" class="validate">
          <label for="title">Subject</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>

        <div class="input-field">
          <input id="price" name="price" type="number" class="validate">
          <label for="price">Price</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>

            <div class="input-field">
          <input id="img" name="img" type="number" class="validate">
          <label for="img">Img url</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>

        <button class="btn btn-primary">Add</button>
</form>